<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: page_head('Error - shopmeAdmin')" />

<body>
<div class="container-fluid">
  <div>

    <div th:replace="nav :: menu"></div>


    <div class="m-3">
      <h2 class="text-center">Sorry, the server has encoded an error while processing your request</h2>
    </div>


    <div th:replace="fragments :: footer"></div>

  </div>
</div>
<script type="text/javascript">

</script>
</body>
</html>