<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="page_head(title)">
    <meta charset="UTF-8" content="text/html" http-equiv="content-type">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0" name="viewport">
    <script th:src="@{/webjars/jquery/jquery.min.js}" type="text/javascript"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/fontawesome/all.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css">
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/common.js}" type="text/javascript"></script>


    <title>[[${title}]]</title>

</head>

<body>

<div class="text-center m-3" th:fragment="footer">
    <p>Shopme control panel - Copyright &copy; shopme11 </p>
</div>


<th th:fragment="column_link(fieldName, columnLabel, removeTag )" th:remove="${removeTag}">
    <a class="text-white"
       th:href="@{'/users/page/' + ${currentPage} + '?sortField='+ ${fieldName} +'&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + ${keyword != null ? '&keyword='+ keyword : ' ' } }">
        [[${columnLabel}]]
    </a>
    <span th:class="${sortDir} == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'"
          th:if="${sortField == fieldName}">

      </span>
</th>

<a class="page-link"
   th:fragment="page_link(moduleURL, pageNum, label)"
   th:href="@{ ${moduleURL} +'/page/'+ ${pageNum} +'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword='+ keyword : ' ' } }">[[${label}]]</a>

<div th:fragment="category_actions" th:remove="tag">
    <a class="fas fa-edit fa-2x icon-green" th:href="@{'/category/edit/' + ${category.id}}"
       title="Edit this category"></a>
    &nbsp; &nbsp;
    <th:block th:if="${category.hasChildren == false}">
        <a class="fas fa-trash fa-2x icon-red link-delete"
           id="test"
           th:entityId="${category.id}"
           th:href="@{'/categories/delete/' + ${category.id}}" title="Delete this category"></a>
    </th:block>

    <th:block th:if="${category.hasChildren == true}">
        <a class="fas fa-trash fa-2x icon-dark cannot-delete"
           id="cannot-delete"
           title="Cannot be deleted" th:href="@{/categories}"></a>
    </th:block>


</div>


<div th:fragment="pagination(moduleURL, entityName)" th:remove="tag">
    <div class="text-center m-1" th:if="${totalItems > 0}">
        <span> Showing [[${entityName}]] #  [[${startCount}]] to [[${endCount}]] of [[${totalItems}]] </span>
    </div>

    <div class="text-center m-1" th:unless="${totalItems > 0}">
        <span> No [[${entityName}]] found </span>
    </div>

    <div th:if="${totalPages > 1}">
        <nav>
            <ul class="pagination justify-content-center flex-wrap">
                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="fragments :: page_link(${moduleURL} ,1, firsttt)"> </a>
                </li>
                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="fragments :: page_link(${moduleURL} ,${currentPage - 1 }, Previous)"></a>
                </li>

                <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
                    th:each="i : ${#numbers.sequence(1, totalPages)}">
                    <a th:replace="fragments :: page_link(${moduleURL}, ${i}, ${i})"></a>
                </li>

                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="fragments :: page_link(${moduleURL}, ${currentPage + 1}, Next)"></a>
                </li>

                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="fragments :: page_link(${moduleURL}, ${totalPages}, Last)"></a>
                </li>

            </ul>
        </nav>
    </div>
</div>


<div th:fragment="search_form(moduleURL)">
    <form th:action="@{${moduleURL}}" class="form-inline m-3">
        <input type="hidden" name="sortField" th:value="${sortField}"/>
        <input type="hidden" name="sortDir" th:value="${sortDir}"/>

        Filter: &nbsp;
        <input type="search" class="form-control" name="keyword" th:value="${keyword}" required/>
        &nbsp;&nbsp;
        <button type="submit" value="Search" class="btn btn-primary">
            <i class="fas fa-search fa-2x "></i>
        </button>
        &nbsp;&nbsp;
        <button type="button" value="Clear" class="btn btn-secondary" id="clearFilterButton"
                onclick="clearFilter()">
            <i class="fas fa-eraser fa-2x"></i>
        </button>
    </form>
</div>


</body>
</html>