<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="text/html" http-equiv="content-type">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0" name="viewport">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <title>Home- Shopme Admin Control Panel</title>
</head>
<body>
<div class="container-fluid">
    <div>
        <h1>Shopme Control Panel</h1>
    </div>

</div>
</body>
</html>