<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: page_head('Home - shopmeAdmin')" />

<body>
<div class="container-fluid">
    <div>
      <div th:replace="nav :: menu"></div>
        <div>
            <h2>Shopme Control Panel</h2>
        </div>
         Welcome <a
                    th:href="@{/account}"
                    sec:authentication="principal.fullName" title="Account details"></a>
        <span sec:authentication="principal.authorities"></span>
        <div th:replace="fragments :: footer"></div>

    </div>
</div>
<script type="text/javascript">

</script>
</body>
</html>