<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head(${pageTitle})"/>

<body>
<div class="container-fluid">
    <div th:replace="nav :: menu"></div>
    <div>
        <h2>Manage Categories | [[${pageTitle}]]</h2>
    </div>

    <form enctype="multipart/form-data" method="post" onsubmit="return checkCategoryUnique(this);" style="max-width: 500px; margin: 0 auto"
          th:action="@{/categories/save}"
          th:object="${category}">

        <input th:field="${category.id}" type="hidden"/>
        <div class="border border-secondary rounded p-3">

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Category Name:</label>
                <div class="col-sm-8">
                    <input class="form-control" maxlength="128" minlength="5" required th:field="*{name}"
                           type="text"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Alias:</label>
                <div class="col-sm-8">
                    <input class="form-control" maxlength="45" minlength="2" required th:field="*{alias}"
                           type="text"/>
                </div>
            </div>


            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Parent category:</label>
                <div class="col-sm-8">
                    <select class="form-control" th:field="*{parent}">
                        <option value="0">[No parent]</option>
                        <th:block th:each="categoryParent : ${listCategories}">
                            <option th:value="${categoryParent.id}">[[${categoryParent.name}]]</option>
                        </th:block>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Photo:</label>
                <div class="col-sm-8">
                    <input th:field="${category.image}" type="hidden"/>
                    <input accept="image/png, image/jpeg" class="mb-2" id="fileImage" name="fileImage"
                           required="required"
                           type="file"/>
                    <div class="mt-2">
                        <img alt="image preview" class="img-fluid" id="thumbnail"
                             th:src="@{${category.getImagePath()}}"/>
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Enabled:</label>
                <div class="col-sm-8">
                    <input th:field="*{enabled}" type="checkbox"/>
                </div>
            </div>


            <div class="text-center">
                <input class="btn btn-primary m-3" type="submit" value="Save"/>
                <input class="btn btn-secondary" id="buttonCancel" type="button" value="Cancel"/>
            </div>

        </div>
    </form>

    <!--  Error modal  -->
    <div th:replace="modal_fragments :: modal_dialog"></div>

    <div th:replace="fragments :: footer"></div>

</div>

<script type="text/javascript">
    moduleURL = "[[@{/categories}]]"

    function checkCategoryUnique(form) {
        let catId = $("#id").val();
        let catName = $("#name").val();
        let catAlias = $("#alias").val();
        console.log("namemmmmmmmmmm" + catName)

        let csrfValue = $("input[name='_csrf']").val();
        let url = "[[@{/categories/check_unique}]]"

        let params = {id: catId, name: catName, alias: catAlias, _csrf: csrfValue}

        $.post(url, params, function (response) {
            if (response == "OK") {
                form.submit();
            } else if (response == "DuplicateName") {
                showWarningModal("Category with name " + catName + " already in use")
            } else if (response == "DuplicateAlias") {
                showWarningModal("Category with Alias " + catAlias + " already in use")
            } else {
                showErrorModal("Unknown response from Server")
            }
        }).fail(function () {
            showErrorModal("Could not connect to Server")
        });

        return false;
    }


</script>
<script th:src="@{/js/common_form.js}" type="text/javascript"></script>

</body>
</html>