<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('Categories table - shopmeAdmin')"/>

<body>
<div class="container-fluid">
    <div>

        <div th:replace="nav :: menu"></div>

        <div>
            <h2>Manage Categories</h2>
            <a th:href="@{/users/new}" class="fas fa-folder-plus fa-2x icon-dark"></a>
            &nbsp;| &nbsp;
            <a th:href="@{/users/export/csv} " class="fas fa-file-csv fa-2x icon-dark"></a>
            &nbsp;| &nbsp;
            <a th:href="@{/users/export/excel}" class="fas fa-file-excel fa-2x icon-dark"></a>
            &nbsp;| &nbsp;
            <a th:href="@{/users/export/pdf}" class="fas fa-file-pdf fa-2x icon-dark"></a>
        </div>

        <div th:if="${message != null}" class="alert alert-success text-center col-sm-8 offset-sm-3">
            [[${message}]]
        </div>

        <div>
            <form th:action="@{/categories/page/1}" class="form-inline m-3">
                <input type="hidden" name="sortField" th:value="${sortField}"/>
                <input type="hidden" name="sortDir" th:value="${sortDir}"/>

                Filter: &nbsp;
                <input type="search" class="form-control" name="keyword" th:value="${keyword}" required/>
                &nbsp;&nbsp;
                <button type="submit" value="Search" class="btn btn-primary">
                    <i class="fas fa-search fa-2x "></i>
                </button>
                &nbsp;&nbsp;
                <button type="button" value="Clear" class="btn btn-secondary" id="clearFilterButton"
                        onclick="clearFilter()">
                    <i class="fas fa-eraser fa-2x"></i>
                </button>
            </form>
        </div>


        <div class="full-details">
            <table class="table table-bordered table-striped table-hover table-responsive-xl">
                <thead class="thead-dark">
                <tr>
                    <th class="hideable-column">ID<th/>

                    <th>Category Image</th>

                    <th>Alias</th>

                    <th>Enabled</th>

                    <th></th>
                </tr>

                </thead>
                <tbody>
                <tr th:each="category : ${listCategories}">
                    <td > [[${category.id}]] </td>
                    <td>

                    </td>
                    <td >[[${category.name}]]</td>
                    <td>[[${category.alias}]]</td>
                    <td>
                        <a th:if="${category.enabled == true}" class="fas fa-check-circle fa-2x icon-green"
                           th:href="@{'/category/' + ${category.id} + '/enabled/false'}" title="Disable this category"></a>
                        <a th:if="${category.enabled == false}" class="fas fa-circle fa-2x icon-dark "
                           th:href="@{'/category/' + ${category.id} + '/enabled/true'}" title="Enable this category"></a>

                    </td>
                    <td>
                        <a class="fas fa-edit fa-2x icon-green" th:href="@{'/category/edit/' + ${category.id}}"
                           title="Edit this category"></a>
                        &nbsp; &nbsp;
                        <a class="fas fa-trash fa-2x icon-red link-delete"
                           th:href="@{'/category/delete/' + ${category.id}}"
                           th:userId="${category.id}"
                           title="Delete this category" id="test"></a>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>


</div>
</body>
</html>